@import '~antd/lib/style/v2-compatible-reset.less';

html, body, :global(#root) {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.align(@type:left) {
  text-align: @type!important;
}



:global {
  .align-left {
    .align(left);
  }
  .align-center {
    .align(center);
  }
  .align-right {
    .align(right);
  }

  .padding {
  }
;

}
